.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#interior-map-container {
  background-color: white;
  width: 80%;
  height: 600px;
  overflow: hidden;
  border-radius: 25px;
  margin-top: 50px;
  box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.74);
  position: relative;
}

#interior-map-transform-box {
  margin: 0;
  transform-origin: 50% 50%;

  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: relative;
}

#nodesCanvas-transform-box {
  margin: 0;
  z-index: 12;
  position: absolute;
}

#interior-curent-loc {
  margin: auto;
  padding: 0;
  width: 20px;
  height: 20px;
  z-index: 10;
  border-radius: 100%;
  background-color: skyblue;
  box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.74);
  position: relative;
  top: 90%;
  transform-origin: center;
  transform: scale(1.0);
  animation: locPulse 3s infinite;
}

@keyframes locPulse {
  0% {background-color: skyblue;}
  50% {background-color: blue;}
  100% {background-color: skyblue;}
}

#current-coords {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

#current-coords-display{
  font-size: 20px;
  margin: 0;
  padding: 0;
}

#left-right-container {
  margin: 0;
  padding: 0;
}

#left-right-item {
  display: inline;
}

#moveup {
  margin: 0;
  padding: 0;
}

#movedown {
  margin: 0;
  padding: 0;
}

#interior-button-close {
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  z-index: 10;
  right:0;
  position: absolute;
  margin-right: 50px;
  margin-top: 80px;
  border-radius: 100%;
  background-color: lightblue;
  box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.74);
  line-height: 50px;
  color: grey;
  font-weight: bold;
  font-size: 15px;
  user-select: none;
}

#interior-button-close:hover {
  transform: scale(1.05);
  cursor: pointer;
}

#interior-button-follow {
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  z-index: 10;
  right:0;
  position: absolute;
  margin-right: 50px;
  margin-top: 155px;
  border-radius: 100%;
  background-color: lightblue;
  box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.74);
}

#interior-button-settings {
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  z-index: 10;
  right:0;
  position: absolute;
  margin-right: 50px;
  margin-top: 230px;
  border-radius: 100%;
  background-color: lightblue;
  box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.74);
}

#slider-container {
  margin: 0;
  padding: 0;
  float: right;
  margin-right: 123px;
  margin-top: 350px;
}

#debugOpenIntDisplay {
  margin: 0;
  margin-top: 15px;
  padding: 0;
  min-width: 125px;
  min-height: 35px;
  border-radius: 5px;
  background-color: lightblue;
  box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.74);
  visibility: hidden;
  font-size: 12px;
  color: darkblue;
  line-height: 35px;
  user-select: none;
}

#debugOpenIntDisplay:hover {
  transform: scale(1.05);
  cursor: pointer;
}

#interior-title {
  margin: 0;
  padding: 0;
  z-index: 10;
  position: absolute;
  color: black;
  margin-top: 2%;
  background-color: lightblue;
  font-size: 20px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.74);
}

#nodesCanvas {
  z-index: 12;
}

/* https://www.w3schools.com/howto/howto_js_rangeslider.asp
Followed above tutorial, code is altered
*/
.slidecontainer {
  width: 100px; /* Width of the outside container */
  position: absolute;
  z-index: 10;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 1.0; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.74);
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: lightblue; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: lightblue; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (max-width: 479px) {
  body {
      font-size: 13px;
  }
  #options {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}