#input {
    padding: .5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#roomNum {
    width: 36px;
    height: 20px;
    z-index: 10;
    font-size: 15pt;
}

#building {
    height: 30px;
    font-size: 15pt;
    z-index: 10;
}

#routeButton {
    height: 28px;
    z-index: 10;
    font-size: 15pt;
}

#closeButton {
    z-index: 10;
}